.owl-item {
  margin: auto;
  padding: auto;
  height: 100px;
  background-color: #4DC7A0;
}

.owl-item p {
  display: inline;
}

.wrapper {
  transform: translate3d(0, 0, 0);
}

h1 {
  display: inline;
}

.btn {
  background-color: #fff;
  border: solid 1px #ddd;
  color: black;
  text-align: center;
  width:50px;
  height: 50px;
  font-size: 30px;
  margin: 0 3px;
  transition: 0.3s;
  border-radius: 100%;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
  color: white;
}

.owl-luar{
    padding:0 50px;
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}